@media (max-width: 1100px){
    .hero{
        padding: 25px;
    }
    .hero-img{
      width: 300px;
    }
    .head{
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .coming{
        width: 300px;
    }
    .logo-again{
        width: 300px;
        height: 300px;
    }
    .abt-token{
        padding: 25px;
    }
    .main-abt-token{
        margin: 2em 2em;
    }
    
    .abt{
        margin-top: 0.5em;
    }
    .options{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        display: grid;
    }

  }
  
  @media (max-width: 768px){
    .abt-token{
        padding:15px;
    }
    .main-abt-token{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .abt{
        width: 300px;
    }
    .htb{
        padding: 25px;
    }
    .options{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  }

  @media (max-width: 430px){
   .head-img{
      height: 90%;
      width: 90%;
    }
  }