*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.hero{
  padding: 55px 75px;
  background-color: rgb(233 67 69);
}
.hero-txt{
  text-align: center;
}
.hero-img{
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.head{
  display: flex;
  justify-content: space-between;
}

.head-txt{
  margin-top: 8em;
}

.head-p{
  font-size: 35px;
  color: #fff;
  
  margin-bottom: 1.5em;
}

.buy-btn{
  background: rgb(158, 251, 46);
  color: #000;
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid black;
  margin-top: 5px;
  padding: 5px 10px;
}


.b-btn{
  transform: rotate(7deg);
}

.x-btn{
  transform: rotate(-7deg);
}

.tg-btn{
  transform: rotate(7deg);
}

.buttons{
  display: flex;
  gap: 2em;
}
a{
  text-decoration: none;
}

.coming{
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.abt-token{
  padding: 75px;
  background: rgb(75, 8, 8);
}

.main-abt-token{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin: 2em 8em;
}

.logo-again{
  border-radius: 15px;
}

.abt{
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 15px;
  margin-top: 3em;
  border-radius: 15px;
  border: 5px solid black;
}

.img1{
  border-radius: 15px;
}

.htb{
  background: rgb(233 67 69);
  padding: 75px;
}

.htb-txt{
  text-align: center;
  font-size: 25px;
  color: #fff;
}

.htb-h2{
  font-size: 65px;
}

.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.opt-con{
  background: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 25px;
  width: 18em;
  margin: 25px;
}

.socials{
  background: rgb(233 67 69);
  padding: 75px;
  line-height: 5em;
}

.social-img{
  border-radius: 100%;
  margin: 10px 5px;
  width: 70px;
}

.socials-links{
  display: flex;
  justify-content: center;
}
.gallery{
  /* padding: 10%; */
    background: rgb(233 67 69);
}
/* Gallery Section */
.gallery {
  display: flex;              
  justify-content: center;    
  gap: 20px;                   
  padding: 20px;               
  flex-wrap: wrap;             
  background: rgb(233 67 69);
}

/* Image Styling */
.gallery img {
  max-width: 100%;           
  height: auto;               
  border-radius: 10px;        

}
.gallery-title {
    font-size: 3em;               /* Default font size for large screens */
    margin-bottom: 20px;          /* Space between title and images */
    color: #333;                  Color of the title
    color: rgb(158, 251, 46);
    font-weight: bold;            /* Bold font */
    transition: font-size 0.3s;   /* Smooth transition when resizing */
}
@media (max-width: 768px) {
    .gallery {
        justify-content: space-around; /* Space out images on smaller screens */
    }

    .gallery img {
        width: 45%;  /* Reduce image width on small screens */
    }

    .gallery-title {
        font-size: 2.5em;             /* Smaller title font size on medium screens */
    }
}

/* Media Query for Very Small Screens (mobile) */
@media (max-width: 480px) {
    .gallery img {
        width: 90%;  /* Make images almost full width on very small screens */
    }

    .gallery-title {
        font-size: 2em;             /* Smaller title font size on very small screens */
    }
}
